/* Center all main text */


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*
 * Sets everyting to use `border-box` for calculating sizing.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: auto;
}

html {
    background-color: #f0f0f0;
}

body {
    color: #202020;
    font-family: Outfit, sans-serif;
    max-width: 800px;
    margin: 2em auto;
}

h1 {
    font-weight: 100;
}

header h1 {
    font-size: 1.25em;
    font-weight: 500;
    margin: 1em 1em 5em;
    padding: 0.25em;
    background: #222;
    color: white;
    width: fit-content;
}

header {
    background-image: url('sunrise.jpg');
    background-position: 50% 50%;
    padding-bottom: 1px;
    background-size: cover;
}

a:link {color: #8833cc;}
a:visited {color: #aa55ee;}
a:hover,
a:focus {color: #7722bb;}
a:active {color: #8833cc;}

nav {
    padding: 1em;
    margin: 0;
    background: #f0f0f0;
}

nav a {
    text-decoration:none;
}

main h1,
main h2,
main p {
    margin: 1rem 0;
}












body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.center-image {
  display: block;         
  margin: 20px auto;       
  width: 60%;              
  max-width: 600px;        
  border-radius: 12px;   
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

 
header {
  margin-top: 50px;
}
body {
  background-color: #E0F7FA;
  color: #212121;
}
  
h1 {
  color: #0077B6;
  text-align: left;
}

h1 {
  color: #0077B6;
  text-align: left;      
  margin-left: 400px;     
  
}



h2 {
  color: #0077B6;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 0 10px;
}

main {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.three-column-gallery {
  display: flex;             
  justify-content: center;    
  gap: 20px;                  
  margin: 20px auto;          
  max-width: 900px;           
}

.three-column-gallery img {
  width: 30%;                 
  border-radius: 10px;        
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  
}





nav a:visited {
  color: #850099; 
}


nav a:hover {
  color: #ff6600; 
  text-decoration: underline;
}


nav a:active {
  color: #cc0000; 
}

.gallery-text {
  max-width: 900px;      
  margin: 0 auto;        
  line-height: 1.5;     
}

.About-text {
  max-width: 900px;      
  margin: 0 auto;        
  line-height: 1.5;     
}